#!/usr/bin/env bash

for FILE in $( find ~/.dotfiles/bash/exports/exports/ -type f  -name '*' -print  );
    do
        [ -r "$FILE" ] && [ -f "$FILE" ] && source "$FILE";
    done
unset FILE;


# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
